.Addnote {
  height: 470px;
  width: 500px;
  z-index: 1;
  left: 20%;
  top: 14%;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0.5px 1px 1px 1px rgba(0,0,0,0.2);
padding: 0.1px;
text-align: left;
border: 1px solid green;
margin: 0px;


}

.Addnote input{
  /* width: 146px; */
  border: 0px;
  border-radius: 0px;
  border-bottom: 2px solid  #dddee2;
  margin-bottom: 10px;

}

.Addnote .NoteHeading p{
  margin: 0;
  width: 100%;
  height: 48px;
  border-radius: 4px;
  background-color: aliceblue;
  text-align: center;
  font-family: DMSans;
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 48px;
  letter-spacing: normal;
  color: #152d4e;
}

.Addd
{
  background-color: green;
  border:none;
  margin-left:100px;
  
  color: white;
}

.Cancel
{
  

  margin-left:40px;

  color:green;
}
