
.RoundContainer{
    width: auto;
    height: 25px;
    border-radius: 17.5px;
    background-color: sandybrown;
    margin-left: 10px;
    padding: 5px;
  }
  .RoundContainer p {
    margin: 0;
    height: 18px;
    font-family: DMSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: cornsilk;
    text-align: center;
    line-height: 25px;
  }
  