.Button{
  width: 135px;
  height: 30px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #14b349, #09a04f);
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.Button p{
    margin: 0;
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;  
}
