.UserCard {
  margin-top: 20px;
}

.CardHeading {
  margin: 0;
  width: auto;
  height: 16px;
  font-family: DMSans;
  font-size: 12px;
  font-weight: normal;
  margin-left: 20px;
  color: #9ea0a3;
}

.CardData {
  display: flex;
  flex-flow: row;
  margin: 0;
  margin-top: 10px;
}

