.Peekameet{
    width: 104px;
    height: 24px;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: white;
    margin: 16px 0px;
    margin-top: 30px;
  
}