.Background{
    background-color:#14b349;
    width: 100%;
    display: flex;
    height: 100px;
}

.Logo{
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 550px;
}
.Div {
    
    border-radius: 5px;
    font-family: DMSans;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    background:none;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding: 25px;
  }

  
  .Button{

    margin-top: 0px;
}

  