p, div {
  font-family: Lato;
}

.row {
  height: 97vh;
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left:50px;
  border-radius: 10px;
}

.column1{
  display: flex;
  width: 559px;
  
  margin-top: 400px;
  
}

.column2 {
  display: flex;
  flex-direction: column;
  width: 280px;
 
}


form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}




 .submit-button {
  min-width: 100%;
  cursor: pointer;
  margin-right: 0.25em;
  margin-top: 0.8em;
  padding: 	0.638em;
  border: none;
  border-radius: 4px;
  width: 431px;
  height: 36px;
  line-height: normal;
  background-image: linear-gradient(92deg, #14b349 -109%, #09a04f 209%);
}


.submit {
  display: flex;
  flex-wrap: wrap;
} 
