
label {
    margin-bottom: 0.5em;
    color: #444;
    font-weight: lighter;
  }
  
  input{
    width: 431px;
    height: 36px;
    border-radius: 4px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.11);
    border: solid 1px #1cb54f;
    background-color: #ffffff;
  }
  
  input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #bbb;
  }
  

input.error {
    border: 1px solid #EADAE4;
  }
  
.error {
    color:#db2269;
    font-size: 0.825em;
    display: relative;
}
  