.Header {
  width: auto;
  height: 100px;
  background-image: linear-gradient(to bottom, #14b349, #09a04f);
  display: flex;
  flex-flow: row;
}
.Header img{
  margin-left: 18px;
  margin-right: 25px;
}

.Title {
  display: flex;
  flex-flow: row;
}
.Title img{
  height: 52px;
  margin-top:20px;
  vertical-align: middle;

}

.Header nav ul {
  list-style: none;
  display: flex;
  flex-flow: row;
}

nav li {
  padding: 0px 16px;
  height: 100%;
}
nav a {
  text-decoration: none;
  opacity: 0.6;
  font-family: DMSans;
  font-size: 18px;
  margin-left:20px;
  color: #ffffff;
}
nav img {
  padding: 0px 14px;
}
nav{
  margin-top: 12px;
}
button{

  width: 120px;
  height: 36px;
  margin-top: 30px;
  margin-right:10px;
}