.UserProfile {
  position: relative;
  min-height: 900px;
  border:1px solid green;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Pic {
  position: relative;
}

.Play {
  margin-left: 90%;
  margin-top: 10px;
}
.ToggleSection{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  
}

.ToggleSection a{
  text-decoration: none;
  width: auto;
  height: 18px;
  font-family: DMSans;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color:green;
  display: inline-block;
  align-self: flex-end;
}



.ButtonSection {
  display: flex;
  flex-flow: row;
  height:50px;

  justify-content: space-around;
}
